<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Light</string>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Light</string>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Light</string>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Regular</string>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Medium</string>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>Font Face</key>
		<string>Roboto-Medium</string>
	</dict>
</dict>
</plist>
